<a href="https://colab.research.google.com/github/desstaw/PrivacyPreservingTechniques/blob/main/Differential_Privacy_sepsis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
import numpy as np
import matplotlib.pyplot as plt
import random

import warnings
warnings.simplefilter('ignore')

**Explanation**

epsilon: smaller value of epsilon implies a higher level of privacy protection.

sensitivity:  the maximum amount that the query output can change if one record is added or removed from the dataset

Laplace ensures that the originial statistical data distribution is maintained when noise is added

In [ ]:
# Load the original heart dataset
url = "https://raw.githubusercontent.com/desstaw/PrivacyPreservingTechniques/main/datasets/sepsis.csv"
df = pd.read_csv(url)
df = df[['Age', 'Gender', 'HR', 'O2Sat', 'Temp', 'SBP', 'MAP', 'DBP', 'Resp', 'Hgb', 'WBC', 'Glucose', 'SepsisLabel']]

In [ ]:
# First 20 rows before applying differential privacy
df.head(20)

,Age,Gender,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,Hgb,WBC,Glucose,SepsisLabel
0,50,1.0,72.115385,98.153846,36.607692,105.846154,76.807692,63.461538,20.416667,8.000000,14.300,121.250000,0.000000
1,51,1.0,77.283333,96.758065,36.920000,145.396552,102.275862,73.741379,15.071429,6.400000,3.000,97.500000,0.000000
2,71,1.0,100.403846,94.788462,37.086538,130.400000,87.160000,65.880000,19.384615,12.300000,22.400,137.266667,0.000000
3,51,0.0,76.315789,96.500000,36.161538,153.763158,104.716216,74.236842,19.171053,9.750000,7.150,103.944444,0.000000
4,73,1.0,51.395349,95.469697,36.122222,133.131212,85.112903,69.474848,17.545455,12.400000,7.850,96.000000,0.000000
5,61,0.0,65.954545,94.906977,37.157143,113.295455,81.090909,62.477273,14.068182,8.950000,6.700,78.750000,0.000000
6,66,1.0,80.583333,97.166667,36.541667,101.194444,74.222222,59.527778,15.611111,10.850000,19.300,133.000000,0.000000
7,43,1.0,112.033333,95.600000,36.166667,117.733333,93.266667,81.766667,15.900000,8.900000,5.800,90.000000,0.000000
8,75,1.0,90.985714,96.400000,37.484091,128.357143,88.114286,66.385714,19.382353,10.850000,11.800,137.722222,0.000000
9,85,0.0,81.220930,98.500000,36.327273,106.697674,72.279070,52.755814,15.050000,NaN,NaN,NaN,0.000000
10,45,0.0,90.162791,98.534884,37.407143,107.953488,77.767442,60.767442,16.111111,7.580000,7.060,121.357143,0.000000
11,56,1.0,88.833333,95.666667,37.792308,149.678571,83.357143,59.035714,17.614286,12.033333,10.900,139.666667,0.000000
12,66,1.0,61.531250,96.846154,36.457143,142.607143,104.035714,78.678571,21.850000,14.500000,9.650,127.250000,0.000000
13,53,1.0,85.750000,95.350000,36.120000,105.166667,81.058824,68.444444,18.882353,18.400000,5.200,225.166667,0.000000
14,43,1.0,100.980000,98.857143,37.200000,152.520408,97.632653,80.846939,18.696970,13.950000,15.900,200.053571,0.000000
15,85,0.0,61.300000,97.705882,36.716667,155.414286,97.842857,65.914286,18.603448,9.675000,10.775,141.000000,0.000000
16,58,1.0,81.400000,96.312500,37.198718,128.115385,89.025641,61.346154,20.236842,10.760000,17.500,124.782609,0.000000
17,24,1.0,83.952381,99.690476,36.982353,139.309524,94.761905,72.523810,24.238095,10.500000,6.300,136.500000,0.000000
18,71,1.0,78.212500,96.730769,36.872727,131.425000,91.537500,67.475000,16.137931,9.800000,9.000,119.027500,0.000000
19,59,1.0,87.189655,98.189655,36.450000,105.172414,64.775862,51.465517,17.571429,8.550000,15.250,94.833333,0.333333

In [ ]:
epsilon = 1.0
sensitivity = 3.0

# Apply differential privacy to the 'age', 'trestbps', 'chol', 'thalach', and 'oldpeak' columns using Laplace noise
for col in ['Age', 'HR', 'O2Sat', 'Temp', 'SBP', 'MAP', 'DBP', 'Resp', 'Hgb', 'WBC', 'Glucose']:
    df[col] += np.random.laplace(loc=0, scale=sensitivity/epsilon, size=len(df))

# Print the first five rows of the dataset after applying differential privacy
df.head(20)

,Age,Gender,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,Hgb,WBC,Glucose,SepsisLabel
0,56.197503,1.0,71.300669,106.806292,38.931659,107.181496,82.258447,64.759110,18.465508,14.885463,15.240731,130.278351,0.000000
1,42.927833,1.0,77.356698,102.266719,40.425315,150.832550,103.599446,76.822468,9.216690,10.116294,4.654785,87.285464,0.000000
2,70.876236,1.0,97.785296,95.995317,35.048311,125.941732,87.964145,67.718917,22.912978,13.574468,19.095773,129.852487,0.000000
3,51.283425,0.0,81.467028,93.936542,34.338317,158.599318,105.675119,74.287765,15.050281,13.550529,7.042700,104.859353,0.000000
4,73.131710,1.0,52.311809,95.336009,28.531191,137.282839,82.286591,70.744421,19.316056,11.608908,9.308719,94.494017,0.000000
5,60.922652,0.0,69.405389,94.351298,40.268559,113.895151,88.324655,65.579065,12.053903,4.602403,9.341200,74.945166,0.000000
6,67.801603,1.0,76.338369,98.543128,37.611621,101.542125,88.592295,64.772190,5.406476,12.868404,12.142114,132.029101,0.000000
7,44.151069,1.0,110.241450,89.663514,37.729719,117.168522,101.787240,81.694571,17.251053,8.507300,8.257638,89.307099,0.000000
8,75.290339,1.0,89.394463,103.234984,38.033250,119.897270,90.161507,64.512170,14.957278,4.908374,14.003864,131.556680,0.000000
9,90.664913,0.0,85.988536,98.353124,36.524976,106.057536,74.620794,52.387365,14.087969,NaN,NaN,NaN,0.000000
10,43.854714,0.0,89.682256,93.288740,37.256949,105.368987,81.623423,60.795305,13.782215,9.078105,9.865063,116.216674,0.000000
11,54.165093,1.0,81.256091,96.127201,33.960178,153.865666,84.528429,68.822486,0.327937,10.823036,8.645472,139.521416,0.000000
12,65.277034,1.0,59.357961,89.458535,34.080387,145.886490,105.478464,85.644874,19.439797,14.020946,2.480083,128.529039,0.000000
13,52.817172,1.0,89.508737,95.990107,37.751314,103.528716,81.628176,70.299092,18.928809,20.160970,9.141442,228.928907,0.000000
14,44.088088,1.0,102.439652,99.533465,33.445324,150.656445,96.478885,77.368519,19.772774,14.421267,18.986408,198.855139,0.000000
15,77.998124,0.0,60.670317,98.446401,36.903850,146.948199,93.922344,63.675522,16.407644,11.564381,14.207759,142.526018,0.000000
16,61.540266,1.0,83.720081,94.051989,44.408245,122.168110,90.458226,61.370576,10.329881,11.120928,19.136572,126.289602,0.000000
17,23.873304,1.0,86.506690,101.542710,50.258840,140.592807,97.714753,71.531821,30.888976,4.809000,8.422160,144.811243,0.000000
18,71.163876,1.0,84.543402,101.645938,38.468170,130.120612,88.418397,68.913490,15.436313,5.317812,10.948267,118.549044,0.000000
19,56.140189,1.0,89.291362,93.607267,37.062310,112.295621,60.366007,47.781139,20.491970,7.427345,15.453922,95.903369,0.333333

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df.to_csv('/content/drive/MyDrive/Colab Notebooks/Sepsis/v3_sepsis.csv', index=False)